body{
  background-image: url("http://images3.alphacoders.com/203/203725.gif"); 
}





.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
 display: none;
  position: absolute;
  z-index: 20;
  top: 165px;
  left: 580px;
  float: left;
	
}






.LOGO {
 
  width: 190px;
  height: 130px;
  position: absolute;
  z-index: 15;
  
  top: 40px;
  left: 10px;


 
}


.LOGO{

	float:right;
}




.arrow {
 
  width: 100px;
  height: 50px;
  position: absolute;
  z-index: 15;
  color:red;
  top: -55px;
  left: 605px;
 font-size: 60px;


}






.ryubig {
  position: absolute;
  z-index: 9;
  top: 20px;
  left: 470px;
 /* margin-left:-100px;*/
  
}


.ryubig {
  max-width: 900px;
  height: 643px;
}


.ryubig{

	float:right;
}



.textbox {
     
 
  width: 400px;
  height: 100px;
  position: absolute;
  z-index: 11;
  
  top: 165px;
  left: 620px;
  
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: yellow;
}




.groundtext {
     
  width: 600px;
  height: 77px;
  position: absolute;
  z-index: 25;
  
  top: 480px;
  left: -600px;
  
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border-right-style: solid;
   border-width: 60px;
}



.main {
  opacity: 1.0;     
  margin-top: 63px;
  padding-left: 100px;
  min-width: 1200px;

  height: 570px;
  position: relative;
  z-index: 1;

}

.ryu{

	float:left;
	
	
}



.ryu {
    width: 659px;
    height: 494px;

}

.ryu-ready, .ryu-still, .ryu-throwing , .ryu-cool{
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool{
  display: none;
} 



  .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}





.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');

  }

.ryubig {
  background-image: url('../images/ryubig.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.LOGO {
  background-image: url('../images/LOGO.gif');
}












  .groundtext {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
 
  .groundtext:hover  {
    -webkit-transform: translate(22em,0);
    -moz-transform: translate(22em,0);
    -o-transform: translate(22em,0);
    -ms-transform: translate(22em,0);
    transform: translate(22em,0);
  }



.ryubig {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
 
  .ryubig:hover  {
    -webkit-transform: translate(-1.5em,0);
    -moz-transform: translate(-1.5em,0);
    -o-transform: translate(-1.5em,0);
    -ms-transform: translate(-1.5em,0);
    transform: translate(-1.5em,0);
  }






.LOGO {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
 
  .LOGO:hover  {
     -webkit-transform: rotate(360deg) scale(1.6);
    -moz-transform: rotate(360deg) scale(1.6);
    -o-transform: rotate(360deg) scale(1.6);
    -ms-transform: rotate(360deg) scale(1.6);
    transform: rotate(360deg) scale(1.6);
  }





  /* {
  outline: red 1px solid;
}
*/
